.inline-image {
    height: 1em; /* Matches the height of the surrounding text */
    vertical-align: middle; /* Aligns the image with the middle of the text */
    display: inline; 
}

.md_style {
    margin-left: 1em;
    margin-right: 1em;
}